# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\GoPath\fyouku-master\fyouku\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
